<div id="page-content" class="container">
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4">
      <%= image_tag("Homepage.jpg", style: "height: 300px; width: auto;") %>
    </div>
    <div class="col-sm-4">
      <h2 class="message-1">How valuable is retention?</h2>
        <h3 class="messages message-2">Know what's happening at your company now</h3>
    </div>
    <div class="col-sm-2">
    </div>
  </div>
</div>
<div id=adtext1 class="container">
  <div class="row">
    <h3 class="statement statement-1">A small application for a big impact . . .<h3>
  </div>
</div>
<div id=adpic1 class="container">
  <div class="row ad1pic">
    <%= image_tag("adpic1", style: "width:100%;") %>
  </div>
</div>
<div id=adtex2 class="container">
  <div class="row">
    <h3 class="statement statement-2">. . . We know that every employee matters</h3>
  </div>
</div>
<div class="container">
  <div class="row">
    <h3 class="counter" id="company-counter">550+ companies have already taken their first step</h3>
  </div>
</div>
